*
!.gitignore

!mods
!mods/*.jar

!kubejs
!kubejs/assets
!kubejs/client_scripts
!kubejs/server_scripts
!kubejs/startup_scripts
!kubejs/assets/**
!kubejs/client_scripts/**
!kubejs/server_scripts/**
!kubejs/startup_scripts/**

!config
!config/**

!LICENSE